@font-face {
	font-family: FiraCode;
	font-style: normal;
	font-weight: normal;
	src: url("https://cdn.rawgit.com/tonsky/FiraCode/master/FiraCode-Regular.otf") format("opentype");
}


/** es6fiddle.net, codepen.io, jsfiddle.net **/
.CodeMirror,
/** medium.com **/
.gist,
/** github.com **/
.blob-code-inner,
/** medium.com, github.com **/
pre {
	font-family: "Fira Code", Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
	text-rendering: optimizeLegibility !important;
}
